<p-scrollPanel
  [style]="{ width: '100%', height: '460px', 'margin-top': '2rem', 'min-height': '200px' }"
>
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center gap-3">
      <img
        [src]="bookForm.value.imageUrl"
        alt="Book cover"
        class="w-10rem shadow-3"
      />

      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">

        <div class="flex flex-column gap-2 text-left">
          <label
            for="title"
            class="text-sm font-bold text-gray-500"
          >
            Title
          </label>
          <input
            pInputText
            id="title"
            aria-describedby="username-help"
            variant="outlined"
            formControlName="title"
            pAutoFocus
            [autofocus]="autoFocus"
            (keyup.enter)="onSubmit()"
          />

          <span
            class="mb-3 font-bold p-error text-sm"
            *ngIf="isValidField('title')"
          >
          Title is required
        </span>
        </div>

        <div class="flex flex-column gap-2 text-left">
          <label
            for="author"
            class="text-sm font-bold text-gray-500"
          >
            Author
          </label>
          <input
            pInputText
            id="author"
            aria-describedby="username-help"
            variant="outlined"
            formControlName="author"
            (keyup.enter)="onSubmit()"
          />

          <span
            class="mb-3 font-bold p-error text-sm"
            *ngIf="isValidField('author')"
          >
          Author is required
        </span>
        </div>

        <div class="flex flex-column gap-2 text-left">
          <label
            for="total-pages"
            class="text-sm font-bold text-gray-500"
          >
            Total pages
          </label>
          <p-inputNumber
            id="total-pages"
            inputId="integeronly"
            variant="outlined"
            formControlName="totalPages"
            [showButtons]="true"
            (keyup.enter)="onSubmit()"
          />

          <span
            class="mb-3 font-bold p-error"
            *ngIf="isValidField('totalPages')"
          >
          {{ getFieldError('totalPages') }}
        </span>

        </div>

        <div class="flex flex-column gap-2 text-left">
          <label
            for="current-page"
            class="text-sm font-bold text-gray-500"
          >
            Current page
          </label>
          <p-inputNumber
            id="current-page"
            inputId="integeronly"
            variant="outlined"
            formControlName="currentPage"
            [showButtons]="true"
            (keyup.enter)="onSubmit()"
          />

          <span
            class="mb-3 font-bold p-error text-sm"
            *ngIf="isValidField('currentPage')"
          >
            The current page must be less or equal than <br> the total pages
        </span>

        </div>

        <div class="flex flex-column gap-2 text-left">
          <label
            for="image-url"
            class="text-sm font-bold text-gray-500"
          >
            Image url
          </label>
          <input
            pInputText
            id="image-url"
            aria-describedby="username-help"
            variant="outlined"
            formControlName="imageUrl"
            (keyup.enter)="onSubmit()"
          />
        </div>

        <div class="flex justify-content-center gap-3 mt-3">
          <button
            pButton
            type="button"
            (click)="onSubmit()"
            label="Save"
            class="w-7rem"
            severity="primary"
          ></button>
          <button
            pButton
            type="button"
            label="Cancel"
            class="w-7rem"
            severity="secondary"
            routerLink="list"
          ></button>
        </div>
      </form>
    </div>
  </ng-template>
</p-scrollPanel>
