<ng-container *ngIf="!isLoading; else progressBar">
  <p-scrollPanel
    [style]="{ width: '100%', height: '460px', paddingRight: '0.5rem' }"
  >
    <ng-template pTemplate="content">
      <books-book-card
        *ngFor="let book of books"
        [book]="book"
        (onDeleteBook)="deleteBook($event)"
      ></books-book-card>
    </ng-template>
  </p-scrollPanel>

  <div class="flex justify-content-evenly gap-2 mt-auto p-2" *ngIf="!isSearching">
    <p-button icon="pi pi-upload"
              [rounded]="true"
              [outlined]="true"
              [pTooltip]="'exportBooksTooltip' | transloco"
              tooltipPosition="bottom" showDelay="500"
              (onClick)="exportToExcel()"
    />
    <p-fileUpload
      mode="basic"
      name="demo[]"
      chooseIcon="pi pi-download"
      url="https://www.primefaces.org/cdn/api/upload.php"
      accept=".xlsx"
      maxFileSize="1000000"
      styleClass="p-button-rounded p-button-outlined"
      (onUpload)="uploadFile($event)"
      [pTooltip]="'importBooksTooltip' | transloco"
      tooltipPosition="bottom"
      showDelay="500"
      [auto]="true"
    />
    <p-button icon="pi pi-plus" [rounded]="true" [pTooltip]="'addBookTooltip' | transloco"
              tooltipPosition="bottom" showDelay="500"
              routerLink="/books/new-book"/>
    <p-button icon="pi pi-search" [rounded]="true" [outlined]="true"
              [pTooltip]="'searchBooksTooltip' | transloco"
              tooltipPosition="bottom"
              showDelay="500" (onClick)="toggleSearch()"/>
    <p-button icon="pi pi-cog" [rounded]="true" [outlined]="true"
              [pTooltip]="'settingsTooltip' | transloco"
              tooltipPosition="bottom"
              showDelay="500" routerLink="/books/config"/>
  </div>

  <p-inputGroup *ngIf="isSearching" class="p-2">
    <input
      type="text" pInputText placeholder="Book name"
      #title
      (input)="searchBooks(title.value)"
    />
    <button
      type="button" pButton icon="pi pi-arrow-circle-left" class="p-button-secondary" pTooltip="Back"
      tooltipPosition="bottom" showDelay="500"
      (click)="toggleSearch()"
    >
    </button>
  </p-inputGroup>
</ng-container>

<ng-template #progressBar>
  <div style="height: 460px; width: 100%" class="flex align-items-center justify-content-center">
    <p-progressSpinner ariaLabel="loading" />
  </div>
</ng-template>
