@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

*::-webkit-scrollbar {
  width: 0px !important;
  background-color: white !important;
}

*::-webkit-scrollbar-thumb {
  width: 0px !important;
  background-color: whitesmoke !important;
  border-radius: 0px !important;
}

*::-webkit-scrollbar:horizontal {
  width: 0px !important;
  background-color: white !important;
}

*::-webkit-scrollbar-thumb:horizontal {
  width: 0px !important;
  background-color: whitesmoke !important;
  border-radius: 0px;
}
